@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    --primary: #0eca2d;
}

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f8f9;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

button {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 50px;
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;

}

.alert {
    position: fixed;
    height: 60px;
    width: 300px;
    color: white;
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.5s;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 4px 10px 15px 4px rgba(0, 0, 0, 0.3);
}

nav {
    padding: 0 10px;
    display: flex;
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
}

.header-actions-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(75, 75, 75);
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.logout-btn {
    background-color: crimson;
    color: white;
}

.logo {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-self: center;
}

.logo-container {
    display: flex;
    gap: 30px;
}

.user-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.page {
    padding: 100px 10px 10px 10px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    max-width: 1440px;
}

.fullpage {
    padding: 100px 10px 10px 10px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
}

/*LANDING PAGE */

.landing section {
    margin: 10px;
    border: 2px solid black;
    width: 40%;
    max-width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/*PATIENT ONBOARDING PAGE */
.patient-onboarding,
.doctor-onboarding {
    min-height: 100vh;
    background-image: url("./backgrounds/onboarding.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.patient-onboarding input,
.doctor-onboarding input {
    background-color: white;
    border: 2px solid rgb(240, 240, 240);
    height: 40px;
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}

.patient-onboarding input::placeholder,
.doctor-onboarding input::placeholder {
    font-size: 14px;
    font-weight: 400;
}

.patient-onboarding p,
.doctor-onboarding p {
    color: rgb(90, 90, 90);
    font-size: 14px;
    font-weight: bold;
}

.contact-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.onboarding-container {
    margin-top: 50px;
    background-color: #f7f8f9;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2);
}

.conditions,
.experience {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.conditions textarea,
.experience textarea {
    margin-top: 5px;
    width: 100%;
    background-color: white;
    border: 2px solid rgb(240, 240, 240);
    height: 100px;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Cascadia Code', sans-serif;
}

.specialities-container,
.days-container,
.times-container {
    width: 100%;
    position: relative;
}

.specialities-container button,
.days-container button,
.times-container button {
    margin-top: 5px;
    width: 100%;
    background-color: rgb(200, 200, 200);
    border: 2px solid rgb(240, 240, 240);
}

.specialities-container button:hover,
.days-container button:hover,
.times-container button:hover {
    background-color: rgb(190, 190, 190);
}


.specialities,
.days,
.times {
    z-index: 5;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 160px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2);
}

.specialities button,
.days button,
.times button {
    border: 2px solid grey;
}

.specialities p,
.days p,
.times p {
    padding: 10px;
    margin: 3px;
    cursor: pointer;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.save-btn {
    margin-top: 30px;
    width: 100%;
    background-color: var(--primary);
    height: 35px;
    letter-spacing: 1px;
    color: white;
}

.health-data,
.other-data {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


/*DOCTOR ONBOARDING PAGE*/
.times {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.day-time-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/*PATIENT HOME PAGE*/


.ph-doctors-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ph-doctor-card {
    border: 2px solid black;
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: flex-start;
}

.doctor-card-left {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.doctor-card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conultation-page-container,
.notes-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.filter {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


/*CONSULTATION PAGE*/

.consultation-container {
    background-color: #f7f8f9;
    z-index: 5;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 900px;
    gap: 20px;
}

.select-date {
    font-weight: bold;

}

.availability {
    color: grey;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
}

.consultation-info-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
    gap: 20px;
    justify-content: space-between;
    width: 500px;
}

.consultation-container span {
    margin: 0 3px;
}

.consultation-times-container {
    background-color: rgb(221, 221, 221);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.consultation-times-container p {
    margin: 10px;
    border: 2px solid var(--primary);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.consultation-container button {
    font-size: 16px;
}

.consultation-doctor-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/*DOCTOR HOME PAGE*/

.upcoming-consultations-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 320px;

}


.dh-top {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.dh-upcoming-container {
    flex: 1;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.dh-upcoming-container h3 {
    margin-left: 20px;
}

.dh-consultation {
    margin: 10px;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2);
    gap: 10px;
    height: 260px;
    min-width: 320px;
    max-width: 320px;
}

.dh-consultation p {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 5px 10px;
}

.dh-contact-info p {
    font-weight: bold;
}

.dh-date-time-container p {
    color: white;
    background-color: #555;
}

.dh-contact-info,
.dh-date-time-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.dh-conditions {
    display: flex;
    align-items: flex-start;
    background-color: rgb(236, 236, 236);
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    height: 100px;
    overflow-y: auto;
}

.dh-conditions p {
    font-family: 'Cascadia Code', sans-serif;
}

.dh-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.dh-actions button {
    width: 40%;
    height: 35px;
    letter-spacing: 1px;
    color: white;
}

.notes {
    background-color: #f7f8f9;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.notes button {
    width: 40%;
    height: 35px;
    letter-spacing: 1px;
    color: white;
}


.notes p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.notes textarea {
    margin: 20px 0;
    width: 100%;
    background-color: white;
    border: 2px solid rgb(240, 240, 240);
    height: 100px;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Cascadia Code', sans-serif;
}


/*Previous Consultations on DOCTORS HOME PAGE*/

.done-consultations-container {
    width: 100%;
}

.earnings {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.earned {
    padding: 5px 10px;
    background-color: grey;
    color: white;
    border-radius: 5px;
}

.preivous-consultations-container {
    margin-top: 20px;
    width: 100%;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.previous-consultation {
    background-color: white;
    width: 95%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 20px;
    border-radius: 5px;
    max-width: 1200px;
}

.pc-contact-info {
    display: flex;
    align-items: center;
    width: 20%;
    gap: 10px;
}

.pc-contact {
    display: flex;
    flex-direction: column;
}

.pc-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    width: 20%;
}

.pc-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    width: 20%;
}

.pc-phone {
    display: flex;
    align-items: center;
    gap: 3px;
    width: 20%;
}

.pc-notes {
    font-weight: bold;
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    width: 20%;
    font-size: 14px;
}

.pc-notes p {
    font-family: 'Cascadia Code', sans-serif;
}

.titles p {
    width: 20%;
    font-size: 14px;
    font-weight: bold;
}

.titles {
    margin-top: 10px;
    background-color: inherit;
}








/*CALENDAR*/
.react-calendar__navigation {
    display: flex;
}

.react-calendar__month-view__weekdays__weekday {
    display: flex;
    justify-content: center;
}

abbr {
    text-decoration: none;
}

.react-calendar {
    width: 400px;
    max-width: 100%;
    background-color: #fff;
    color: #222;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}

.react-calendar__navigation button {
    color: black;
    font-weight: bold;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
}

.react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
}

abbr[title] {
    text-decoration: none;
}

/* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: var(--primary);
    border-radius: 6px;
}

.react-calendar__tile--now {
    background: var(--primary)33;
    border-radius: 6px;
    font-weight: bold;
    color: var(--primary);
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: var(--primary)33;
    border-radius: 6px;
    font-weight: bold;
    color: var(--primary);
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
}

.react-calendar__tile--active {
    background: var(--primary);
    border-radius: 6px;
    font-weight: bold;
    color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: var(--primary);
    color: white;
}



.calendar button {
    border-radius: 0;
    padding: 10px;
}