@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

button {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    cursor: pointer;
}

header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 2px solid black;
}

.page {
    padding-top: 100px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    max-width: 1440px;
}

/*LANDING PAGE */

.landing section {
    margin: 10px;
    border: 2px solid black;
    width: 40%;
    max-width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/*PATIENT ONBOARDING PAGE */
.patient-onboarding {
    justify-content: center;
}

.onboarding-container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.conditions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conditions textarea {
    width: 100%;
}

.specialities-container,
.days-container {
    position: relative;
}

.specialities,
.days {
    z-index: 5;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid black;
}

.specialities p,
.days p {
    padding: 5px;
    cursor: pointer;
}


/*DOCTOR ONBOARDING PAGE*/
.times-container {
    position: relative;
}

.times {
    z-index: 5;
    background-color: white;
    position: absolute;
    display: flex;
    width: 300px;
    height: 300px;
    overflow-y: auto;
    flex-wrap: wrap;
    border: 1px solid black;
    justify-content: center;
}

.times p {
    cursor: pointer;
    margin: 5px;
    border: 1px solid black;
}


/*PATIENT HOME PAGE*/


.ph-doctors-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ph-doctor-card {
    border: 2px solid black;
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: flex-start;
}

.doctor-card-left {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.doctor-card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conultation-page-container {
    top: 0;
    position: fixed;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter {
    top: 0;
    position: fixed;
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


/*CONSULTATION PAGE*/

.consultation-container {
    background-color: white;
    border: 2px solid black;
    z-index: 5;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consultation-container span{
    margin: 0 3px;
}